####################
## Project dependencies
####################

# Jekyll: remote theme
_layouts/
_includes/
_sass/
assets/

# Jekyll: bundler
_site/
.sass-cache
.jekyll-cache
.jekyll-metadata

# library or gem
.ruby-version
.ruby-gemset
Gemfile.lock
*.gem

####################
## Windows detritus
####################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
$Recycle.Bin/

# Windows shortcuts
*.lnk
