# To view the line-endings in files you can use the command 'git ls-files --eol'
# It can be specified: 'w/crlf', 'w/lf', 'w/mixed'
* text=auto	eol=CRLF

# Custom for Visual Basic (CRLF for classes or modules)
# NOTE: 'wte' attribute in Git 2.18+ allows to store a file in different from UTF-8 encoding
*.log	working-tree-encoding=CP1251
*.txt	working-tree-encoding=CP1251
